@model IEnumerable<disneyapi.CharacterEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacetrAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterHistory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacetrAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterHistory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
